<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.LoginMapper">
    <resultMap type="po.User" id="userMap">
        <id column="uid" property="uid" ></id>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="tel" property="tel" />
        <result column="age" property="age" />
        <collection property="user_roles" column="userid" ofType="po.User_role">
            <id property="urid" column="urid" />
            <association column="roleid" property="role" javaType="po.Role">
                <id column="rid" property="rid"></id>
                <result column="rolename" property="rolename"/>
            </association>
        </collection>
    </resultMap>
    <select id="getpwdbyname" parameterType="String"  resultMap="userMap">
        select * from user left join user_role on user.uid=user_role.userid left join
    	role on user_role.roleid=role.rid where username=#{name}
    </select>
    
    
</mapper>