<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.TbAttenceMapper" >

    <resultMap id="BaseResultMap" type="po.TbAttence" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="date" property="date" jdbcType="VARCHAR" />
        <result column="start_time" property="startTime" jdbcType="VARCHAR" />
        <result column="off_time" property="offTime" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="leave_info" property="leaveInfo" jdbcType="VARCHAR" />
        <result column="work_state" property="workState" jdbcType="INTEGER" />
        <result column="weekday" property="weekday" javaType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_id, date, start_time, off_time, status, leave_info, work_state, weekday, remark
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from tb_attence
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getMyAttence" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_attence
        where user_id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="getMyAttenceCount" resultType="java.lang.Integer">
        select
        count(*)
        from tb_attence
        where user_id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="getAllAttence" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_attence
    </select>

    <select id="getAllAttenceCount" resultType="java.lang.Integer">
        select
        count(*)
        from tb_attence
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from tb_attence
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="delete">
        delete from tb_attence
        where user_id = #{userId,jdbcType=INTEGER}
        and date = #{date,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="po.TbAttence" >
        insert into tb_attence (id, user_id, date, 
            start_time, off_time, status, 
            leave_info, work_state, weekday, remark
            )
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{date,jdbcType=VARCHAR}, 
            #{startTime,jdbcType=VARCHAR}, #{offTime,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
            #{leaveInfo,jdbcType=VARCHAR}, #{workState,jdbcType=INTEGER},#{weekday,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="po.TbAttence" >
        insert into tb_attence
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="date != null" >
                date,
            </if>
            <if test="startTime != null" >
                start_time,
            </if>
            <if test="offTime != null" >
                off_time,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="leaveInfo != null" >
                leave_info,
            </if>
            <if test="workState != null" >
                work_state,
            </if>
            <if test="weekday != null" >
                weekday,
            </if>
            <if test="remark != null" >
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="date != null" >
                #{date,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null" >
                #{startTime,jdbcType=VARCHAR},
            </if>
            <if test="offTime != null" >
                #{offTime,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="leaveInfo != null" >
                #{leaveInfo,jdbcType=VARCHAR},
            </if>
            <if test="workState != null" >
                #{workState,jdbcType=INTEGER},
            </if>
            <if test="weekday != null" >
                #{weekday,jdbcType=INTEGER},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="po.TbAttence" >
        update tb_attence
        <set >
            <if test="userId != null" >
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="date != null" >
                date = #{date,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null" >
                start_time = #{startTime,jdbcType=VARCHAR},
            </if>
            <if test="offTime != null" >
                off_time = #{offTime,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="leaveInfo != null" >
                leave_info = #{leaveInfo,jdbcType=VARCHAR},
            </if>
            <if test="workState != null" >
                work_state = #{workState,jdbcType=INTEGER},
            </if>
            <if test="weekday != null" >
                #{weekday,jdbcType=INTEGER},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="po.TbAttence" >
        update tb_attence
        set user_id = #{userId,jdbcType=INTEGER},
            date = #{date,jdbcType=VARCHAR},
            start_time = #{startTime,jdbcType=VARCHAR},
            off_time = #{offTime,jdbcType=VARCHAR},
            status = #{status,jdbcType=VARCHAR},
            leave_info = #{leaveInfo,jdbcType=VARCHAR},
            work_state = #{workState,jdbcType=INTEGER},
            weekday = #{weekday,jdbcType=INTEGER},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>