<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.TbDailyMapper" >

    <resultMap id="BaseResultMap" type="po.TbDaily" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="date" property="date" jdbcType="VARCHAR" />
        <result column="daily_content" property="dailyContent" jdbcType="VARCHAR" />
        <result column="plan" property="plan" jdbcType="VARCHAR" />
        <result column="feedback" property="feedback" jdbcType="VARCHAR" />
        <result column="comment" property="comment" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
        <result column="modify_time" property="modifyTime" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="DailyDataMap" type="po.query.DailyData" >
        <result column="date" property="date" jdbcType="VARCHAR" />
        <result column="count" property="count" jdbcType="INTEGER" />
        <result column="users" property="users" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_id, date, daily_content, plan, feedback, comment, create_time, modify_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from tb_daily
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getAllDailyList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_daily
        order by date desc,user_id
    </select>

    <select id="getAllDailyCount" resultType="java.lang.Integer">
        select
        count(*)
        from tb_daily
    </select>

    <select id="getMyDailyList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_daily
        where user_id = #{userId,jdbcType=INTEGER}
        order by date desc
    </select>

    <select id="getMyDailyCount" resultType="java.lang.Integer">
        select
        count(*)
        from tb_daily
        where user_id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="getDailyData" resultMap="DailyDataMap">
        <![CDATA[
            select date,count(1) count,GROUP_CONCAT(username ORDER BY uid) users from user,
            (SELECT date,GROUP_CONCAT(user_id) uids FROM `tb_daily`
            where date >= #{start} and date <= #{end}
            GROUP BY date) t
            where not find_in_set( uid , t.uids)
            GROUP BY date
        ]]>
    </select>

    <select id="getDaily" resultMap="BaseResultMap">
        select * from tb_daily where id = #{dailyId}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from tb_daily
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="po.TbDaily" >
        insert into tb_daily (id, user_id, date,
            daily_content, plan, feedback,
            create_time, modify_time)
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{date,jdbcType=VARCHAR},
            #{dailyContent,jdbcType=VARCHAR}, #{plan,jdbcType=VARCHAR}, #{feedback,jdbcType=VARCHAR},
            #{createTime,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="po.TbDaily" >
        insert into tb_daily
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="date != null" >
                date,
            </if>
            <if test="dailyContent != null" >
                daily_content,
            </if>
            <if test="plan != null" >
                plan,
            </if>
            <if test="feedback != null" >
                feedback,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="modifyTime != null" >
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="date != null" >
                #{date,jdbcType=VARCHAR},
            </if>
            <if test="dailyContent != null" >
                #{dailyContent,jdbcType=VARCHAR},
            </if>
            <if test="plan != null" >
                #{plan,jdbcType=VARCHAR},
            </if>
            <if test="feedback != null" >
                #{feedback,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null" >
                #{modifyTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="po.TbDaily" >
        update tb_daily
        <set >
            <if test="userId != null" >
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="date != null" >
                date = #{date,jdbcType=VARCHAR},
            </if>
            <if test="dailyContent != null" >
                daily_content = #{dailyContent,jdbcType=VARCHAR},
            </if>
            <if test="plan != null" >
                plan = #{plan,jdbcType=VARCHAR},
            </if>
            <if test="feedback != null" >
                feedback = #{feedback,jdbcType=VARCHAR},
            </if>
            <if test="comment != null" >
                comment = #{comment,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null" >
                modify_time = #{modifyTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="po.TbDaily" >
        update tb_daily
        set user_id = #{userId,jdbcType=INTEGER},
            date = #{date,jdbcType=VARCHAR},
            daily_content = #{dailyContent,jdbcType=VARCHAR},
            plan = #{plan,jdbcType=VARCHAR},
            feedback = #{feedback,jdbcType=VARCHAR},
            comment = #{comment,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=VARCHAR},
            modify_time = #{modifyTime,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>